{% extends "base.html" %}
{% block passwordupdate %}
    <div class="container col-md-4 col-md-offset-4" style="margin-top: 150px">
        <form action="" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <lable>旧密码:</lable>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <lable>新密码:</lable>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <lable>确认新密码:</lable>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                {% for message in get_flashed_messages() %}}
                    <input type="text" class="form-control" placeholder="{{ massage }}" disabled>
                {% endfor %}
                <input type="text" class="form-control" placeholder="">
            </div>
            <button class="btn btn-info" style="margin-left: 250px">保存</button>
        </form>
    </div>
{% endblock %}